<!DOCTYPE html>
<html>
  <head>
    <title>Missile Defense</title>
  </head>
  <body>
    <table>
      <tr>
        <th>"Missile Defense"</th>
      </tr>
      <tr>
        <td>
          <div id="display"></div>
        </td>
      </tr>
    </table>
    </div>
    <script type='text/javascript' src="/js/lib/lodash.js"></script>
    <script type='text/javascript' src="/js/client.js"></script>
    <script>
    	var lastMissile = 0.0;
    	setInterval(function(){
    		if(gameState.HOPE_LIVES)
    		{
    			update(gameState,0.01)
	    		showField("display",gameState)
	    		if(gameState.time - lastMissile > 0.1)
	    		{
	    			gameState.missiles.push(spawnMissile(gameState.time,Math.random()*600,10,Math.random()*30-15,30))
	    			lastMissile = gameState.time;
	    		}
    		}
    	},10)
    </script>
  </body>
</html>
